#container {
    max-width: 100vw;
    max-height: 100vh;
    display: grid;
    grid-template-columns: 3.5fr 6.5fr;
    grid-template-areas: 'controls events';
    font-family: sans-serif;
}

#controls {
    grid-area: controls;
    padding: 10px;
    position: fixed;
}

#events {
    grid-area: events;
    padding: 10px;
}

::-webkit-scrollbar {
    background-color: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb {
    background-color: grey;
    height: 50px;
}

.eventBox {
    width: 96%;
    height: 160px;
    padding: 5px;
    margin: 5px;
    border: solid black;
    border-width: 3px 0px 3px;
    position: relative;
    transition: 0.5s;
    display: grid;
    grid-template-columns: 40px 2fr 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-areas:
        'eventBoxLeft1 eventBoxLeft1 eventBoxRight1'
        'mapIcon eventBoxLeft2 eventBoxRight2'
        '. eventBoxLeft3 eventBoxRight3';
}

.eventBox:hover {
    transform: scale(1.01);
    box-shadow: 2px 2px 2px 2px lightgrey;
}

.eventBox:before {
    content: '';
    display: block;
    position: absolute;
    width: 20%;
    height: 160px;
    top: -3px;
    left: 0;
    border: solid white;
    border-width: 3px 0px 3px;
}

.eventBox:after {
    content: '';
    display: block;
    position: absolute;
    width: 20%;
    height: 160px;
    top: -3px;
    left: 80%;
    border: solid white;
    border-width: 3px 0px 3px;
}

.eventTitle {
    grid-area: eventBoxLeft1;
}

.eventLocation {
    color: rgb(167, 167, 167);
    grid-area: eventBoxLeft2;
}

.mapPinIcon {
    height: 36px;
    grid-area: mapIcon;
}

.eventInfo {
    grid-area: eventBoxLeft3;
}

.eventTime {
    text-align: center;
    grid-area: eventBoxRight1;
}

.eventDay {
    text-align: center;
    grid-area: eventBoxRight2;
}

.eventMonth {
    text-align: center;
    grid-area: eventBoxRight3;
}

#noneFound {
    display: none;
}

.eventClose {
    opacity: 0.5;
}