
/* navbar */
nav{
    margin-top: -1px;
    width: 100vw;
    height: 10vh;
    border-top: 1px solid rgba(255,255,255,.2);
    position: sticky;
    top: -2px;
    z-index: 1;
}


.navClass > ul{
    background:linear-gradient(to left,#DA2C43,#E15566, #E97E88,#E15566,#DA2C43);
    font-size: 1.5rem;
    font-family: sans-serif;
    margin-top: 0px;
    
   
}

.navClass > ul > li {
    list-style-type: none;
    display: inline-block;
    padding: 5px 25px;
    position: relative;
    color: black;
    font-weight: bolder;
}

.navClass > ul > li:hover {
    background-color: #3838384d;
    
}
ul.submenu{
    position: absolute;
    background-color: #243c5379;
    list-style-type: none;
    width: auto;
    padding-left: 0px;
    margin-left: -25px;
    margin-top: 5px;
    padding-top: 5px;
    opacity: 0;
   font-weight: lighter;
}

ul.submenu li:hover{
    background-color: #5e5d5d7e;
}
ul.submenu li{
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 25px;

}
ul.submenu li > a {
    text-decoration: none;
}
ul.submenu li > a:visited {
    text-decoration: none;
}
.navClass li:hover .submenu{
    opacity: 1;
}

/* end navbar */