
/* navbar */
nav{
    margin-top: -1px;
    width: 100vw;
    height: 10vh;
    border-top: 1px solid rgba(255,255,255,.2);
    position: sticky;
    top: -2px;
    z-index: 1;
}


.navClass > ul{
    background:linear-gradient(to left,#DA2C43,#E15566, #E97E88,#E15566,#DA2C43);
    font-size: 1.5rem;
    font-family: sans-serif;
    margin-top: 0px;
    
   
}

.navClass > ul > li {
    list-style-type: none;
    display: inline-block;
    padding: 5px 25px;
    position: relative;
    color: black;
    font-weight: bolder;
}

/* end navbar */

body{
background-color: #32353b; 
}

.container{
    align-content: center;
}
#spelersN{
    text-align: left;
}

footer{
    box-shadow:#E15566 0px 0px 10px 10px;
    background:linear-gradient(to left,#32353b, #4b5363, #32353b);
}
.footerimg{
    height: 15vh;
    margin-top: 0vh;
}
.footerimg:hover{
   transform: scale(1.2);
   transition-duration: 1s;
}

#logo{
    box-shadow:#32353b 0px 0px 30px 10px;
}

